*{
  text-decoration: none;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.logo{
  width: 50vw;
  height: auto;
}
.buttons{
  width: 100vw;
  justify-content: space-evenly;
  display: flex;
  margin-top: 2vw;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35vw;
  height: 5vw;
  border-radius: 1vw;
  font-size: 2vw;
  color: white;
  background-color: red;
}
a:hover {
  cursor: pointer;
  transition: all 500ms ease;
  transform: scale(1.1);
}



@media (max-width: 1055px) {
  .container {
    width:100vw;
    min-height: 100vh;
  }
  .logo{
    width: 100vw;
    height: auto;
  }
  .buttons{
    flex-direction: column;
    height: 50vh; 
    align-items: center;   
  }
  .button{   
    width: 95vw;
    height: 15vw;
    font-size: 6vw;
  }


}
